@import "../../styles/base";


.verify-email-container{
    .info-booking{
        font-size: 17px;
        font-weight: 600;
        color: $colormain;
        margin-top: 100px;
        text-align: center;
        text-transform: uppercase;
    }
}